// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//no pushes: rgb(235,237,240);
// 1-6 pushes: rgb(155,233,168);
// 7-13: rgb(93,197,100);
//14 plus: rgb(75,162,79);
//20 plus: rgb(49,111,58);
