// Specific CSS for your home-page
#push-count {
  outline: 3px solid rgba(0, 0, 0, 0.2);
  outline-offset: -3px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: auto;
  h1 {
    margin-bottom: 0;
  }
}
